[submodule "C++/Optimization"]
	path = C++/Optimization
	url = https://github.com/david-m-rosen/Optimization.git
[submodule "C++/Spectra"]
	path = C++/Spectra
	url = https://github.com/yixuan/spectra.git
[submodule "MATLAB/SE-Sync/manopt"]
	path = MATLAB/SE-Sync/manopt
	url = ../manopt.git
